body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #E2FFF0;
  font-family: 'Roboto', sans-serif;
  margin: 0 10vw;
  height: 100vh;
  font-size: 5vw;
}
h1 {
  font-size: 15vw;
  font-weight: 400;
  color: #58641D;
}
form {
  width: 100%;
}
input:focus {
  outline: none;
}
form input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 4vw 0;
  font-size: 5vw;
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 127, 172, 0.4);
}
button {
  padding: 3vw 0;
  margin: 2vw 0;
  width: 100%;
  border-radius: 100px;
  background-color: #007FAC;
  color: white;
  border: none;
  font-size: 5vw;
}
.button-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2vw 0;
}
.button-holder > button {
  width: 49%;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-opacity: 0.3;
  transition: background-color 0.3s;
}
.button-holder > button.active {
  border: none;
  background-color: #ABEBD2;
}
a {
  margin: auto;
  color: #58641D;
}
