body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #E2FFF0;
  font-family: 'Roboto', sans-serif;
  margin: 0 10vw;
  height: 100vh;
}
h1 {
  font-size: 15vw;
  color: #58641D;
  animation-name: fadein;
  animation-duration: 500ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}
img#truck {
  width: 40vw;
  animation-name: drivein;
  animation-duration: 1s;
}
img#leaves {
  position: fixed;
  width: 80vw;
  bottom: 0;
  z-index: -1;
}
button {
  padding: 3vw 0;
  margin: 2vw 0;
  width: 100%;
  border-radius: 100px;
  background-color: #007FAC;
  color: white;
  border: none;
  font-size: 5vw;
  animation-name: fadein;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}

@keyframes drivein {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadein {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
