<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Green Drive</title>
  </head>
  <body>
    <h1>Information</h1>
    <form method="post">
      <input type="text" id="name" name="name" placeholder="Name"><br>
      <input type="text" id="businessname" name="businessname" placeholder="Business Name"><br>
      <input type="text" id="number" name="number" placeholder="Number"><br>
      <input type="text" id="uname" name="username" placeholder="Username"><br>
      <input type="password" id="pword" name="password" placeholder="Password"><br>
      <button id="submit">Create Account</button>
    </form>

    <a href="{{ url_for('landing') }}">Cancel</a>

  </body>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/get_started.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="../static/javascript/get_started.js" charset="utf-8"></script>
</html>
