<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Green Drive</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/new_shipment.css">
  </head>
  <body>
    <nav>
      <a href="/vendor_home"><img src="../static/assets/GreenDriveCompany.svg" alt=""></a>
      <a href="/logout">Logout</a>
    </nav>
    <h1>New Shipment</h1>
    <form method="post">
      <input type="text" id="pickuploc" name="pickuplocation" placeholder="Pickup Location"><br>
      <input type="text" id="destloc" name="destinationlocation" placeholder="Destination Location"><br>
      <input type="text" autocomplete="off" id="pickupdate" name="pickupdate" placeholder="Pickup Date"><br>
      <input type="text" autocomplete="off" id="deliverydate" name="deliverydate" placeholder="Delivery Date"><br>
      <input type="text" autocomplete="off" id="cargoweight" name="cargoweight" placeholder="Cargo Weight"><br>
      <input type="range" min="0" max="100" value="50" class="slider" id="rangeslider">
      <div class="rangereader">
        <p id="efficiency-level">efficiency: 50%</p>
        <p id="sustainability-level">sustainability: 50%</p>
      </div>
      <button id="submit">Create Shipment</button>
    </form>
    <p style="color: red; text-align: center;" id="error-text"></p>
    <a href="{{ url_for('vendor_home') }}">Cancel</a>
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg7aH2ScEfYO5G0nt2OpqjKnGzFxXFZcQ&libraries=places&callback=initMap"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../static/javascript/new_shipment.js" charset="utf-8"></script>
</html>
