<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Green Drive</title>
  </head>
  <body>
    <nav>
      <a href="/vendor_home"><img src="../static/assets/GreenDriveCompany.svg" alt=""></a>
      <a href="/logout">Logout</a>
    </nav>
    <h1>New Shipment</h1>
    <form method="post">
      <input type="text" id="pickuploc" name="pickuplocation" placeholder="Pickup Location"><br>
      <input type="text" id="destloc" name="destinationlocation" placeholder="Destination Location"><br>
      <input type="text" id="pickupdate" name="pickupdate" placeholder="Pickup Date"><br>
      <input type="text" id="deliverydate" name="deliverydate" placeholder="Delivery Date"><br>
      <input type="text" id="cargoweight" name="cargoweight" placeholder="Cargo Weight"><br>
      <button id="submit">Create Shipment</button>
    </form>
    <a href="{{ url_for('vendor_home') }}">Cancel</a>
  </body>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/new_shipment.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../static/javascript/new_shipment.js" charset="utf-8"></script>
</html>
